body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokedex__container {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokedex__content {
  display: flex;
  gap: 5rem;
}

.pokedex__search-input {
}

.pokedex__search-results {
}

.pokedex__list-item {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 180px;
  border-bottom: 1px solid #000;
}

.pokedex__list-item button {
  padding: 2px 5px;
  border-radius: 4px;
  border-style: initial;
  border: 1px solid #a9a9b6;
  cursor: pointer;
}

.pokedex__details-content {
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.pokedex__details-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.pokedex__details-moves ul {
  max-height: 78px;
  overflow-y: auto;
}

.pokedex__details-types ul, .pokedex__details-moves ul {
  text-align: left;
}

.pokedex__details-evochain {
  display: flex;
  justify-content: space-around;
  width: 259px;
  flex-wrap: wrap;
}